<div class='container'> 
    <h4 style='text-align: center'>Create An Account Today!</h4>
    <div class="card wow fadeInRight login-card">
        <div class="card-block">

            <% if flash[:error]%>
              <h5 class='red-text' ><%= flash[:error] %></h5>
            <% end %>

            <%= form_tag '/login', class: 'mg-form' do %>
                <i class="fa fa-envelope prefix"></i>
                <%= text_field_tag :email, nil, :placeholder => 'Email', class: 'txt' %>
                <i class="fa fa-lock prefix"></i>
                <%= password_field_tag :password, nil, :placeholder => 'Password', class: 'txt' %>
                <%= submit_tag "Submit",class: "btn btn-primary btn-lg warning-color" %>
                <%= link_to 'Home', :root, class: 'btn btn-primary btn-lg' %>
            <% end %>

        </div>
    </div>
</div>