<div class="card wow fadeInRight home-card">
    <div class="card-block">
        <!--Header-->
        <!-- <div class="text-xs-center links">
            <h3><i class="fa fa-user"></i> Register with:</h3>
            <a href="" class="btn-floating btn-fb btn-small"><i class="fa fa-facebook"></i></a>
            <a href="" class="btn-floating btn-tw btn-small danger-color"><i class="fa fa-twitter"></i></a>
            <a href="" class="btn-floating btn-gplus btn-small info-color"><i class="fa fa-google-plus"></i></a>
            <a href="" class="btn-floating btn-li btn-small yellow accent-4"><i class="fa fa-linkedin"></i></a>
            <a href="" class="btn-floating btn-git btn-small success-color"><i class="fa fa-github"></i></a>
            <hr>
            <h3>or:</h3>
        </div>
-->
        <!--Body-->
        <p>Create An Account Today!</p>

        <%= form_for @user, class: 'md-form' do |f| %>
            <%= f.text_field :first_name, placeholder:'First Name', class: 'form-control'%>
            <%= f.text_field :last_name, placeHolder: 'Last Name', class: 'form-control'%>
            <%= f.text_field :address, placeHolder: 'Address', class: 'form-control'%>
            <%= f.text_field :city, placeHolder:'City', class: 'form-control'%>
            <%= f.text_field :state, placeHolder:'State', class: 'form-control'%>
            <%= f.text_field :zip_code, placeHolder:'Zip Code', class: 'form-control'%>
            <i class="fa fa-envelope prefix"></i>
            <%= f.text_field :email, placeholder: 'Email', class: 'form-control'%>
            <i class="fa fa-lock prefix"></i>
            <%= f.text_field :password, placeholder: 'password', class: 'form-control'%>
            <%= f.submit 'Sign up', class: "btn btn-primary btn-lg warning-color" %>
        <% end%>
    </div>
</div>