<%= render :partial => './home/navbar' %>

<!--Card-->
<div class='container profile-container'>
  <div class="card testimonial-card">
      <h4><%= @user.full_name%></h4>

      <% if !@user.profile_img.nil? %>
        <div class="avatar">
          <img src="<%=@user.profile_img%>" class="rounded-circle img-responsive profile">
        </div>

      <%else%>
        <%= render :partial => 'edit_profile' %>
      <% end %>

        <div class="divider-new">
          <h2 class="h2-responsive wow fadeInDown">Friends</h2>
        </div>

      <% if !@friends.empty? %>
        <%= render :partial => 'friends_carousel' %>
      <% else %>
        <p>Sorry no friends maybe go make some</p>
      <% end %>
        

      <div class="divider-new">
        <h2 class="h2-responsive wow fadeInDown">Articles</h2>
      </div>

      <% if !@articles.empty?%>
        <%= render :partial => 'articles_carousel' %>
      <% else %>
        <p>Sorry no articles to display</p>
      <% end %>

  </div>
  <!--/.Card-->
</div>