<!--Card-->
<div class='container profile-container'>
  <div class="card testimonial-card">

      <!--Avatar-->
      <% if @user.profile_img %>
        <div class="avatar">
        <img src="<%=@user.profile_img%>" class="rounded-circle img-responsive profile">

      <%else%>
        <%= form_for @user do |f| %>
          <%= f.text_field :profile_img, placeholder: 'Image Link' %>
        <% end %>
      <% end %>
    
        </div>

        <div class="divider-new">
          <h2 class="h2-responsive wow fadeInDown">Friends</h2>
        </div>

      <%= render :partial => 'friends_carousel' %>

      <div class="divider-new">
        <h2 class="h2-responsive wow fadeInDown">Articles</h2>
      </div>

      <%= render :partial => 'articles_carousel' %>
  </div>
  <!--/.Card-->
</div>