<div class="container">
    <div class="col-md-10">
      <div class="carousel slide" data-ride="carousel" id="articles-carousel">
      
          <!-- Bottom Carousel Indicators -->
          <ol id='indicators' class="carousel-indicators">
            <li data-target="#articles-carousel" data-slide-to="0" class="active fa fa-rocket"></li>

            <% @articles.reject { |article| @articles.index(article) == 0 }.each do |article|%>
              <li data-target="#articles-carousel" data-slide-to="<%= @articles.index(article) %>" class='fa fa-rocket'></li>
            <% end %>
          </ol>
                  
          <!-- Carousel Slides / Quotes -->
          <div class="carousel-inner">

          <!-- first article 1 -->
          <div class="item active">
            <div class="row">
              <div class="col-sm-10">
                <div class='card carder'>
                  <img src="<%= @articles.first.image_link%>" class='article-img'>
                  <small class='linkser'><strong><a href="<%=@articles.first.link%>"> <%= @articles.first.title%> </a> </strong></small>
                </div>
              </div>
            </div>
          </div>

          <% @articles.reject { |article| @articles.index(article) == 0 }.each do |article|%>
          <!-- rest of articles -->
          <div class="item">
            <div class="row">
              <div class="col-sm-10 articles-car">
                <div class='card carder'>
                  <img src="<%= article.image_link%>" class='article-img'>
                  <small class='linkser'><strong><a href="<%=article.link%>"> <%= article.title%> </a> </strong></small>
                </div>
              </div>
            </div>
          </div>

          <% end %>
          
        </div>
      </div>                          
    </div>
</div>