<!DOCTYPE html>
<html>
  <head>
    <title>AutismApp</title>

    
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript">
      new WOW().init();
    </script>
  </head>

  <body>
    <%= yield %>
    <%= render :partial => 'home/footer' %>
  </body>
</html>
